#l-input {
    position: relative;
    margin: 0 10px;

    &[data-color='white'] > #l-input__field {
        & > #c-input__field {
            color: white;
        }

        & > #l-input__art {
            & > #c-input__line-art,
            & > #c-input__triangle-art {
                background-color: white;
            }
        }
    }

    &[data-color='black'] > #l-input__field {
        & > #c-input__field {
            color: black;
        }

        & > #l-input__art {
            & > #c-input__line-art,
            & > #c-input__triangle-art {
                background-color: black;
            }
        }
    }
    
    #c-input__icon {
        height: 28px;
        margin-right: 10px;
    }

    #l-input__field {
        #c-input__field {
            width: 170px;
            box-sizing: border-box;
            background-color: transparent; 
            font-family: novecento;
            font-weight: 100;
            font-size: .9em;
            letter-spacing: .5px;
            padding: 6px 14px;
        
            &:focus + #l-input__art > #c-input__triangle-art {
                transform-origin: 0 100%;
                transform: translate(100%, 0) rotate(-90deg);
            }
        }
    
        
        #l-input__art {
            position: relative;
            height: 100%;
            width: 100%;
            $triangle-width: 10px;
            $triangle-thick: 8%;
    
            #c-input__line-art {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: calc(100% - (#{$triangle-width} + 5px));
                pointer-events: none;     
            }
    
            #c-input__triangle-art {
                position: absolute;
                bottom: 0;
                right: 0;
                height: $triangle-width;
                width: $triangle-width;
                clip-path: polygon($triangle-thick 100%, 0 100%, 0 0, 100% 100%, $triangle-thick 100%, $triangle-thick (100% - $triangle-thick), (100% - ($triangle-thick * 2.41)) (100% - $triangle-thick), $triangle-thick ($triangle-thick * 2.41), $triangle-thick 100%);
                transform: translate(100%, 0);
            }
        }
    }
}