@import '../../supports/_variables';

$button-height: 16px;
$button-width: 40px;
$button-width-init: 8px;

#c-button {
    position: relative;
    background-color: transparent;
    box-sizing: border-box;
    padding: $button-height/2 $button-width/2 $button-height/2 $button-width/2;

    #c-rectangle-art--0 {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: $button-width-init;
        border-top: 1px white solid;
    }

    #c-rectangle-art--1 {
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        width: 100%;
        border-right: 1px white solid;
    }

    #c-rectangle-art--2 {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: $button-width-init;
        border-bottom: 1px white solid;
    }

    #c-rectangle-art--3 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform-origin: 50% 100%;
        transform: scale(1, 0);
        border-left: 1px white solid;
    }

    #c-rectangle-art--4 {
        position: absolute;
        top: 0;
        left: 0;
        height: $button-width-init;
        border-left: 1px white solid;
    }

    #c-rectangle-art--5 {
        position: absolute;
        bottom: 0;
        right: 0;
        height: $button-width-init;
        width: 100%;
        border-right: 1px white solid;
    }

    #c-button__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }

    label {
        position: relative; 
        top: 0;
        left: 0;
        font-size: .75em;
        font-family: novecento;
        font-weight: 200;
        color: white;
        cursor: pointer;
    }
}

$animation-duration: .3s;
$animation-timing-function: ease-out;
$button-background-color: rgba(255, 255, 255, .8);

// button mouse enter
#c-button[data-state='mouse-enter'] {
    #c-rectangle-art--0 {
        animation-name: rectangle-art--0__mouse-enter;
        animation-duration: $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    #c-rectangle-art--1 {
        animation-name: rectangle-art--1__mouse-enter;
        animation-duration: $animation-duration;
        animation-delay: $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    #c-rectangle-art--2 {
        animation-name: rectangle-art--2__mouse-enter;
        animation-duration: $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    #c-rectangle-art--3 {
        animation-name: rectangle-art--3__mouse-enter;
        animation-duration: $animation-duration;
        animation-delay: $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    #c-button__background {
        animation-name: button-background__mouse-enter;
        animation-duration: 2 * $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    label {
        animation-name: button-text__mouse-enter;
        animation-duration: 2 * $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }
}

@keyframes rectangle-art--0__mouse-enter {
    0% {
        width: $button-width-init;
    }

    100% {
        width: 100%;
    }
}

@keyframes rectangle-art--1__mouse-enter {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes rectangle-art--2__mouse-enter {
    0% {
        width: $button-width-init;
    }

    100% {
        width: 100%;
    }
}

@keyframes rectangle-art--3__mouse-enter {
    0% {
        transform: scale(1, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes button-background__mouse-enter {
    0% {
        background-color: transparent;
        color: white;
    }
    
    100% {
        background-color: $button-background-color;
        color: color(young-blue);
    }
}

@keyframes button-text__mouse-enter {
    0% {
        color: white;
    }

    100% {
        color: color(young-blue);
    }
}

// button mouse leave
#c-button[data-state='mouse-leave'] {
    #c-rectangle-art--0 {
        height: 100%;
        width: 100%;
        animation-name: rectangle-art--0__mouse-leave;
        animation-duration: $animation-duration;
        animation-delay: $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    #c-rectangle-art--1 {
        animation-name: rectangle-art--1__mouse-leave;
        animation-duration: $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    #c-rectangle-art--2 {
        width: 100%;
        animation-name: rectangle-art--2__mouse-leave;
        animation-duration: $animation-duration;
        animation-delay: $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    #c-rectangle-art--3 {
        animation-name: rectangle-art--3__mouse-leave;
        animation-duration: $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    #c-button__background {
        animation-name: button-background__mouse-leave;
        animation-duration: 2 * $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }

    label {
        animation-name: button-text__mouse-leave;
        animation-duration: 2 * $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-fill-mode: forwards;
    }
}

@keyframes rectangle-art--0__mouse-leave {
    0% {
        width: 100%;
    }

    100% {
        width: $button-width-init;
    }
}

@keyframes rectangle-art--1__mouse-leave {
    0% {
        height: 100%;
    }

    100% {
        height: 0;
    }

}

@keyframes rectangle-art--2__mouse-leave {
    0% {
        width: 100%;
    }

    100% {
        width: $button-width-init;
    }

}

@keyframes rectangle-art--3__mouse-leave {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 0);
    }

}

@keyframes button-background__mouse-leave {
    0% {
        background-color: $button-background-color;
        color: color(young-blue);
    }

    100% {
        background-color: transparent;
        color: white;
    }
    
}

@keyframes button-text__mouse-leave {
    0% {
        color: color(young-blue);
    }

    100% {
        color: white;
    }
}
