#c-circle-art__container {
    position: absolute;
    top: 100%;
    left: 50%;
    height: 150px;
    width: 150px;
    transform: translate(-50%, -50%) rotateX(65deg);
    animation: circle;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    #c-circle-art--0 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        border: 1px white solid;
        border-radius: 50%;
    }

    #c-circle-art--1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90%;
        width: 90%;
        border: 1px white solid;
        border-bottom: 1px transparent solid;
        border-left: 1px transparent solid;
        border-top: 1px transparent solid;
        border-radius: 50%;
    }
}

@keyframes circle {
    0% {
        transform: translate(-50%, -50%) rotateX(65deg) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateX(65deg) rotate(720deg);
    }
}