.l-log {
    font-family: novecento;
    font-weight: 100;
    color: white;
    font-size: .7em;
    opacity: 0;
    pointer-events: none;
}

$wide: 10px;
.c-log__loading {
    height: $wide;
    width: $wide;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%, 0 100%, 50% 100%, 50% 50%, 100% 50%, 100% 100%, 0 100%, 0 0);
}

.l-log[data-display=true] {
    opacity: 1;

    .c-log__loading {
        animation-name: rotating;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        transform-origin: 50% 50%;
    }
}


@keyframes rotating {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}