#l-popup {
    position: absolute;
    z-index: 3;
    height: 100vh;
    width: 100vw;
}

#l-popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 3px;
}

#l-popup[data-display=false] {
    pointer-events: none;

    .c-popup__background {
        opacity: 0;
    }

    #l-popup__content {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}

#l-popup[data-display=true] {
    pointer-events: visible;

    .c-popup__background {
        opacity: .9;
    }

    #l-popup__content {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

$icon-height: 20px;

#c-popup__close-icon {
    position: absolute;
    top: $icon-height;
    right: $icon-height;
    height: $icon-height;
    width: $icon-height;
    cursor: pointer;
}

#l-popup__data {
    position: relative;
}

#c-popup__title, #c-popup__message {
    text-align: center;
    font-family: novecento;;
}

#c-popup__title {
    margin: 5px 0;
    font-size: 2.2em;
    font-weight: 200;
}

#c-popup__message {
    margin: 0;
    font-size: 1.5em;
    font-weight: 100;
}