$shape-wide: 13px;
$margin: 10px;

.l-title-art__shape-config {
    height: $shape-wide;
    width: $shape-wide;
    margin-left: $margin;
}

#l-title {
    position: relative;
    
    #l-title__name {
        position: relative;
        font-family: novecento;
        font-weight: 100;
        font-size: 1.2em;
        color: white;
    
        #c-title__right-name {
            font-weight: 900;
        }
    }

    #l-title__title-art {
        position: relative;
        height: auto;
        width: auto;
        padding: 0 $margin;

        #c-title-art__line {
            height: 1px;
            width: 40px;
            background-color: white
        }
        
        #c-title-art__rectangle {
            border: 1px white solid;
        }

        #c-title-art__cross {
            background-image: url('/icons/cross.svg');
            background-size: 100% 100%;
        }

        #c-title-art__circle {
            background-image: url('/icons/circle.svg');
            background-size: 100% 100%;
        }
    }
}


