#l-logo {
    position: absolute;
    
    &[data-position='CENTER'] {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &[data-position='LEFT_TOP'] {
        position: absolute;
        top: 50px;
        left: 50px;
        transform: translate(0, 0);
    }

    &[data-size='MEDIUM'] {
        $height: 40px;
        $gap: 5px;

        #c-logo__avata {
            height: $height / 2;
            margin-bottom: $gap;
        }
        
        #c-logo__make {
            height: $height / 2;
        }
        
        #c-logo__r {
            height: $height + $gap;
            margin-left: $gap;
        }
    }

    &[data-size='LARGE'] {
        $height: 100px;
        $gap: 10px;

        #c-logo__avata {
            height: $height / 2;
            margin-bottom: $gap;
        }
        
        #c-logo__make {
            height: $height / 2;
        }
        
        #c-logo__r {
            height: $height + $gap;
            margin-left: $gap;
        }
    }
}
