$full-height: 100vh;
$full-width: 100vw;

$font-light: 100;
$font-medium: 200;
$font-bold: 900;

$colors: (
    young-red: #d91a53,
    old-red: #b40036,
    young-blue: #100d2f,
    old-blue: #0b0825,
    grey: 	#EBEBEC,
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}