#l-customize {
    #l-customize__nav {
        position: fixed;
        top: 50px;
        right: 50px;

        .l-nav__logger {
            margin: 0 20px;
        }
    }

    #l-customize__content {
        position: relative;
        min-height: 230px;
        min-width: 400px;
        margin: 30px 0;
        align-items: flex-start;
    
        &[data-direction='forward'] {
            flex-direction: row;
        }
    
        &[data-direction='backward'] {
            flex-direction: row-reverse;
        }
    
        #l-customize__character {
            position: absolute;
            top: 0;
    
            // $character-gap: 150px;
            $character-gap: 50px;
            
            &[data-direction='left'] {
                left: 0;
                transform: translate(calc(-100% - #{$character-gap}), 0);
            }
    
            &[data-direction='right'] {
                right: 0;
                transform: translate(calc(100% + #{$character-gap}), 0);
            }
        }
    
        #l-customize__tools {
            &[data-start='left'] {
                align-items: flex-start;
            }
    
            &[data-start='right'] {
                align-items: flex-end;
            }
    
            .l-customize__tool {
                margin: 7px 7px;
            }
        }
    }
}