@import '../supports/_variables';

* {
    text-decoration: none;
    border: none;
}

button {
    pointer-events: visible;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

html, body {
    margin: 0;
    overflow: hidden;
}

.h-animation-config {
    transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
    transition-duration: 1.5s;
}

.l-section {
    position: absolute;
    height: $full-height;
    width: $full-width;
}

*[data-display='hide'] {
    opacity: 0;
}

*[data-display='appear'] {
    opacity: 1;
}

$flex-direction: row column;
$flex-wrap: wrap nowrap;

@each $dir in $flex-direction {
    @each $wrap in $flex-wrap {
        .l-flex--#{$dir}-#{$wrap} {
            display: flex;
            flex-flow: $dir $wrap;
        }
    }
}

.l-flex--center-center {
    justify-content: center;
    align-items: center;
}


@font-face {
    font-family: novecento;
    src: url('./fonts/Novecento-sans-wide-Light.otf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: novecento;
    src: url('./fonts/Novecento-sans-wide-Medium.otf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: novecento;
    src: url('./fonts/Novecento-sans-wide-Bold.otf') format('truetype');
    font-weight: 900;
}