
@import '../../../../../../../../supports/_variables';

$item-width: 80px;
.l-item {
    position: relative;
    height: $item-width;
    width: $item-width;
    border: .5px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}

.l-item:hover {
    border: .5px solid rgba(0, 0, 0, .6);
}

#l-item--not-empty {
    #c-label {
        position: absolute;
        z-index: 4;
        padding: 8px 16px;
        background-color: color(old-blue);
        color: white;
        pointer-events: none;
        opacity: 0;
        font-family: novecento;
        font-weight: 200;
        font-size: .6em;
    }

    .c-item__img {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
    
    // .c-item__img[data-type='hair'][data-gender='m'] {
    //     top: 10%;
    //     left: -15%;
    //     width: 150%;
    // }

    // .c-item__img[data-type='hair'][data-gender='f'] {
    //     top: 20%;
    //     left: -10%;
    //     width: 120%;
    // }

    // .c-item__img[data-type='clothes'][data-gender='f'] {
    //     top: -25%;
    //     left: 5%;
    //     width: 100%;
    // }

}

#l-item--not-empty:hover {
    #c-label {
        pointer-events: visible;
        opacity: 1;
    }
}

#l-item--empty { 
    .c-line-art {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 50% 50%;
        height: 1px;
        width: 75%;
        background-color: rgba(0, 0, 0, .2);
    }

    #c-line-art--0 {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover #c-line-art--0 {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
        background-color: rgba(0, 0, 0, .6);
    }

    #c-line-art--1 {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover #c-line-art--1 {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
        background-color: rgba(0, 0, 0, .6);
    }
}