@import '../../../../../../supports/_variables';

#l-item-menu {
    $menu-button-width: 12px;
    $menu-button-thick: 1px;
    $menu-button-padding: 10px;

    &[data-start='left'] {
        align-items: flex-start;
    }

    &[data-start='right'] {
        align-items: flex-end;
    }

    & > #l-item-menu__button, 
    & > #l-item-menu__button[data-state='idle'] {
        position: relative;
        padding: $menu-button-padding;

        & > #l-item-menu__line-art {
            position: relative;
            height: $menu-button-width;
            width: $menu-button-width;

            & > .c-item-menu__line-art {
                position: relative;
                width: $menu-button-width;
                background-color: white;
                height: $menu-button-thick;
                transform-origin: 50% 50%;
                // border-radius: 50%;
            }
            
            & > #c-item-menu__line-art--0 {
                transform: scale(1, 1);
            }
    
            & > #c-item-menu__line-art--1 {
                transform: scale(.66, 1);
                margin: calc((#{$menu-button-width} - 3 * #{$menu-button-thick}) / 2) 0;
            }
    
            & > #c-item-menu__line-art--2 {
                transform: scale(.33, 1);
            }
        }
    }

    & > #l-item-menu__button[data-state='clicked'] {
        background-color: color(grey);

        & > #l-item-menu__line-art {
            & > .c-item-menu__line-art {
                background-color: black;
            }
    
            & > #c-item-menu__line-art--0 {
                transform-origin: 0 50%;
                width: calc(#{$menu-button-width} * 1.41 - #{$menu-button-thick });
                transform: scale(1, 1) rotate(45deg);
            }
    
            & > #c-item-menu__line-art--1 {
                transform: scale(0, 1);
            }
    
            & > #c-item-menu__line-art--2 {
                transform-origin: 0 50%;
                width: calc(#{$menu-button-width} * 1.41 - #{$menu-button-thick});
                transform: scale(1, 1) rotate(-45deg);
            }
        }

        & + #l-item-menu__content {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    & > #l-item-menu__content {
        // position: absolute;
        // top: $menu-button-width + 2 * $menu-button-padding;
        // left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        background-color: white;

        & > #l-item-menu__head {
            background-color: color(grey);
            padding: 12px 22px;
            justify-content: space-around;
        }

        & > #l-item-menu__body {
        }

        & > #l-item-menu__pagination {
            padding: 10px 0;
            padding-right: 8px;
            justify-content: flex-end;
            
            .l-item-menu__arrow {
                cursor: pointer;
                height: 15px;
            }

            #c-item-menu__arrow--left {
                margin-right: 5px;
                transform-origin: 50% 50%;
                transform: scale(-1, 1);
            }
        }
    }

    & > #l-item-menu__space {
        position: relative;
    }
}