@import '../../../../supports/_variables';

$width: $full-width;
$footer-gap: 60px;

#l-footer {
    box-sizing: border-box;
    height: 50px;
    width: $width;
    position: absolute;
    bottom: 0;
    padding: 0 $footer-gap $footer-gap $footer-gap;
    font-family: novecento;
    font-size: .7em;
    font-weight: 200;
    color: white;
    
    #l-footer__left-footer {
        flex-grow: 0;
        justify-content: flex-start;
        align-items: center;
    }
    
    #l-footer__right-footer {
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;

        #c-footer__developer-title {
            font-weight: 900;
            padding-right: 10px;
        }

        #c-footer__developer-names {
            padding-right: 10px;
        }
    }
}

