#l-avatar {
    position: relative;
    
    .c-avatar__figure {
        position: relative;
        height: 260px;
    }

    #l-avatar__circle {
        transform: translateY(-15px);
    }

    #l-avatar__figure[data-gender='female'] {
        #l-avatar__items {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            .l-avatar__item {
                position: absolute;
            }

            .l-avatar__item img {
                width: 100%;
            }

            #l-avatar__hair {
                z-index: 3;
            }

            #l-avatar__clothes {
                z-index: 2;
            }

            #l-avatar__pants {
                z-index: 1;
                
            }

            #l-avatar__shoes {
                z-index: 2;
            }
        }
    }

    #l-avatar__figure[data-gender='male'] {
        .c-avatar__figure {
            transform-origin: 50% 50%;
            transform: scale(-1, 1);
        }

        #l-avatar__items {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            .l-avatar__item {
                position: absolute;
            }

            .l-avatar__item img {
                width: 100%;
                transform: scale(-1, 1);
            }

            // #l-avatar__hair {
            //     top: 0;
            // }

            // #l-avatar__clothes {
            //     top: 17%;
            // }

            // #l-avatar__pants {
            //     top: 40%;
                
            // }

            // #l-avatar__shoes {
            //     bottom: 0%;
            // }
        }
    }
}
