$person-margin: 60px;
$person-gap: 150px;


#l-gender-option {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    // margin: $person-margin 0 $person-margin 0;

    #c-label {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        padding: 5px 15px;
        background-color: white;
        font-family: novecento;
        font-size: .7em;
        font-weight: 200;
        transition-duration: 1s;
    }

    #c-label[data-state='mouse-leave'] {
        opacity: 0;
    }

    #c-label[data-state='mouse-enter'] {
        opacity: 1;
    }

    #l-gender-option__figure {
        padding: 60px 0;
        $figure-movement: -10px;

        #l-figure__male {
            margin-right: $person-gap / 2;
            
            #c-figure__male {
                &:hover {
                    transform: translate(0, $figure-movement);
                }
            }
        }
    
        #l-figure__female {
            margin-left: $person-gap / 2;
    
            #c-figure__female {
                transform: scale(-1, 1);

                &:hover {
                    transform: scale(-1, 1) translate(0, $figure-movement);
                }
            }
        }
    }
}

#l-figure__circle {
    transform-origin: 50% 50%;
    transition-duration: 1s;
    transform: translateY(-20px);
}

#l-figure__circle[data-state='mouse-leave'] {
    transform: translateY(-18px) scale(0, 0);
}

#l-figure__circle[data-state='mouse-enter'] {
    transform: translateY(-18px) scale(1, 1);
}

.l-figure {
    position: relative;
}

.l-figure__person {
    pointer-events: visible;
    cursor: pointer;
    position: relative;
    height: 200px;
}
