@import '../../supports/_variables';
$sloping: 180deg;

#l-background {
    z-index: -1;

    &[data-color='red'] {
        top: 0;
        left: 0;
        background-image: linear-gradient($sloping, color(young-red), color(old-red));
    }
    
    &[data-color='blue'] {
        top: 0;
        left: 0;
        background-image: linear-gradient($sloping, color(young-blue), color(old-blue));
    }

    &[data-display='idle'] {
        transform: translate(0, 0);
    }

    &[data-display='fly-away'] {
        transform: translate(0, -100%);
    }
}

